################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/install.cmd
/src/.metadata
/landfirevegmodels.ssimpkg
bin/
obj/
Debug/
Release/
x86/
x64/
Win32/
_deploy_/
.vs/
__pycache__/
/src/Python/Packages/SyncroSim/build/
*.pyc
*.user
*.dll
*.pdb
*.exe
*.ssim
*.db
*.opendb
UpgradeLog*.htm
*.psess
*.vsp
*.suo
